<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
    </head>
    <body>
        <div class="media-development">
            <img src="img/erro.png";/>
        </div>

        <header class="c-header">
            <div class="logo">
                <a href=#><img src="img/Logo.png" alt="" width="50%" height="50%"/></a>
            </div>
            <nav class="nav">
                <ul class="menu">
                    <li class="menu-item"><a href="#" class="menu-link active">Inicio</a></li>
                    <li class="menu-item"><a class="menu-link">Homem</a></li>
                    <li class="menu-item"><a class="menu-link">Mulher</a></li>
                    <li class="menu-item"><a class="menu-link">Kids</a></li>,
                    <li class="menu-item"><a class="menu-link">Ofertas</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="container left">
                    <div class="itens">
                        <h1>ATREVA-SE A ANDAR BEM <br/>PARA RESPIRAR BEM</h1>
                        <p>Os sneakers, um dos melhores amigos das <br/>
                        produções casuais e descoladas, possuem uma <br/> 
                        história de quase um século. Desde os anos <br/> 
                        1800 temos dado os primeiros passos para a sua <br/>
                        criação e, ainda hoje, ele é um item <br/>
                        indispensável no guarda-roupa versátil. Aqui na <br/>
                        YourSneakers você pode encontrar seu tênis <br/>
                         indispensavel.</p>
                        <a href="#"><button class="button button-ofertas">Ofertas</button></a> 
                        <a href="#"><button class="button button-conheca">Conheça</button></a> 
                    </div>
                </div>
                <div class="container right">
                    <img src="img/index/dunk-right.png" alt=""/>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer content">
                <p>© 2021 - YourSneakers</p>
            </div>
        </footer>
    </body>
</html>